@page "/catalogue/new/"
@model CataloguePostModel
@{
    ViewData["Title"] = "Neues Produkt hinzuf端gen";
}

<div class="text-center">
    <h1 class="display-4">Neues Produkt hinzuf端gen</h1><br/>

    <a href="/">
        <button type="button" class="btn btn-success" style="margin-top: 10vh;">Hinzuf端gen</button>
    </a>
    <a href="/">
        <button type="button" class="btn btn-primary" style="margin-top: 10vh;">Zur端ck zur Startseite</button>
    </a>
    <p>
        @Model.result
    </p>

</div><br/>
